<footer class="site-footer">
  <div class="container">
    <p>&copy; ГБПОУ РО "СИТ" | 2026</p>
    <p>{{ site.description }}</p>
    <p>Адрес: 347900, Ростовская область, г. Сальск, ул. Ленина, 1</p>
  </div>
</footer>
