<article class="news-item">
  <header class="news-item-header">
    <h2>
      <a href="{{ newsItem.url }}">{{ newsItem.data.title }}</a>
    </h2>
    <time class="news-item-date" datetime="{{ newsItem.date }}">{{ newsItem.date | date: "%d.%m.%Y" }}</time>
  </header>
  
  {% if newsItem.data.description %}
  <p class="news-item-description">{{ newsItem.data.description }}</p>
  {% endif %}
  
  <a href="{{ newsItem.url }}" class="news-item-link">Читать далее →</a>
</article>
